body {
  background-color: white;
}

h1 {
  text-align: center;
  background-color: grey;
  color:  rgb(4, 160, 144);
}

h2 {
  color:  rgb(4, 160, 144);
}

h3 {
  text-align: center;
  color:  rgb(4, 160, 144);
}
h4 {
  text-align: center;
  color: rgb(4, 160, 144);
}
h5 {
  color: black;
}

p {
  font-size: 15px;
  color: gray;
}

.container {
  background-color:rgb(215, 243, 234);
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 50px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.box{
  padding: 10px 10px;
  background-color: white;
}
.nav-item{
  align-items: flex-end;
}
.nav-item:hover{
  background-color: teal;
}
.dropdown-item:hover{
  background-color: teal;
}
}
.navbar {
  text-emphasis-color: white;
  color: white;
  margin-left: 10px;
  padding: inherit;
  font-weight: bold;
  background-color: teal;
}
footer {
  text-align: left;
  padding: 3px;
  background-color: rgb(212, 209, 209);
  color: teal;
}
.left {
  float: left;
  padding: 0 10px 0 0;}

.card{
  background-color: white;
}